/* 
COLORS:
color-primary: #c69963;
color-primary-dark: #B28451;

color-secondary: #101d2c;

color-grey-light-1: #f9f7f6;
color-grey-light-2: #aaa;

color-grey-dark-1: #54483A;
color-grey-dark-2: #6D5D4B;



FONTS:
font-primary: 'Nunito', sans-serif;
font-display: 'Josefin Sans', sans-serif;
*/



/**********************/
/* General */
/**********************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Nunito", sans-serif;
  color: #c69963;
  font-weight: 300;
}

.header-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.header-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.header-3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.header-4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;

  font-size: 1.9rem;
}



/**********************/
/* Container */
/**********************/

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vh repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(min-content, 1fr) repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) minmax(min-content, 1fr) [full-end];
}

.container>* {
  color: #fff;
  padding: 2rem;
  font-size: 2rem;
}



/**********************/
/* Sidebar */
/**********************/

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
}



/**********************/
/* Header */
/**********************/

.header {
  background-color: #54483A;
  grid-column: full-start / col-start 7;
}



/**********************/
/* Realtours */
/**********************/

.realtours {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
}



/**********************/
/* Features */
/**********************/

.features {
  grid-column: col-start 1 / col-end 8;

  margin: 10rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
  align-self: start;
}

.feature-icon {
  color: #c69963;
  height: 4.5rem;
  width: 4.5rem;
  grid-row: 1 / span 2;
  transform: translateY(-1.5rem);
}

.feature-header {
  color: #333;
}

.feature-text {
  color: #555;
  line-height: 1.7;
  font-size: 1.6rem;
}




/**********************/
/* Story */
/**********************/

.story-picture {
  background-color: #c69963;
  grid-column: full-start / col-start 5;
}

.story-content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
}



/**********************/
/* Homes */
/**********************/

.homes {
  background-color: #101d2c;
  grid-column: col-start 1 / col-end 8;
}



/**********************/
/* Gallery */
/**********************/

.gallery {
  background-color: #54483A;
  grid-column: full-start / full-end;
}



/**********************/
/* Footer */
/**********************/

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
}