/* 
COLORS:
color-primary: #c69963;
color-primary-dark: #B28451;

color-secondary: #101d2c;

color-grey-light-1: #f9f7f6;
color-grey-light-2: #aaa;

color-grey-dark-1: #54483A;
color-grey-dark-2: #6D5D4B;



FONTS:
font-primary: 'Nunito', sans-serif;
font-display: 'Josefin Sans', sans-serif;
*/



/**********************/
/* General */
/**********************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Nunito", sans-serif;
  color: #c69963;
  font-weight: 300;
}

.header-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.header-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;

  font-size: 4rem;
  font-style: italic;
}

.header-3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;

  font-size: 1.6rem;
  text-transform: uppercase;
  color: #c69963;
}

.header-4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;

  font-size: 1.9rem;
}

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover,
.btn:active {
  background-color: #B28451;
}

.color-dark {
  color: #333;
}

.color-primary {
  color: #c69963;
}

.mg-sm {
  margin-bottom: 2rem;
}

.mg-md {
  margin-bottom: 3rem;
}

.mg-lg {
  margin-bottom: 4rem;
}

.mg-hg {
  margin-bottom: 8rem;
}



/**********************/
/* Container */
/**********************/

.container {
  display: grid;
  grid-template-rows: 80vh min-content 80vh repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(min-content, 1fr) repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) minmax(min-content, 1fr) [full-end];
}

.container>* {
  color: #fff;
  padding: 2rem;
  font-size: 2rem;
}



/**********************/
/* Sidebar */
/**********************/

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
}



/**********************/
/* Header */
/**********************/

.header {
  background-color: #54483A;
  grid-column: full-start / col-start 7;
}



/**********************/
/* Realtours */
/**********************/

.realtours {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
}



/**********************/
/* Features */
/**********************/

.features {
  grid-column: col-start 1 / col-end 8;

  margin: 12rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
  align-self: start;
}

.feature-icon {
  color: #c69963;
  height: 4.5rem;
  width: 4.5rem;
  grid-row: 1 / span 2;
  transform: translateY(-1.5rem);
}

.feature-header {
  color: #333;
}

.feature-text {
  color: #555;
  line-height: 1.7;
  font-size: 1.6rem;
}



/**********************/
/* Story */
/**********************/

.story-picture {
  background-image: linear-gradient(to right, #c6996380, #c6996380), url(img/back.jpg);
  grid-column: full-start / col-start 5;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.img-1 {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  box-shadow: 0 2rem 4rem #00000040;
}

.img-2 {
  width: 120%;
  grid-column: 4 /7;
  grid-row: 4 / 7;
  z-index: 20000;
  box-shadow: 0 2rem 6rem #00000030;
}

.story-content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;

  padding: 6rem 8vw;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.story-text {
  font-size: 1.6rem;
  line-height: 1.7;
  font-style: italic;
}



/**********************/
/* Homes */
/**********************/

.homes {
  grid-column: col-start 1 / col-end 8;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 7rem;

  padding: 15rem 0;
  margin: 0 3.5rem;
}

.home {
  background-color: #f9f7f6;
}

.home-img {
  width: 100%;
  margin-bottom: 3rem;
  z-index: 1;
}

.home-name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  background-color: #101d2c;
  color: #fff;
  display: block;
  width: 85%;
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: -6rem auto 0 auto;
  z-index: 2;
  position: relative;
}

.home-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.5rem;
  padding: 3.5rem;
}

.home-text-feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home-text-feature-icon {
  height: 2rem;
  width: 2rem;
  color: #c69963;
}

.home-text-feature-text {
  font-size: 1.6rem;
  color: #555;
}

.btn-home {
  width: 100%;
}



/**********************/
/* Gallery */
/**********************/

.gallery {
  background-color: #54483A;
  grid-column: full-start / full-end;
}



/**********************/
/* Footer */
/**********************/

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
}